.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 82, 82);
    box-sizing: border-box;
    padding:5%;
  }
  
.image {
    max-width: 100%;
    max-height: 100%;
  }
.contenido {
    text-align: center;
    padding: 20px;
    font-size: 18px;
  }
  
ion-card-content a {
    color: rgb(255, 82, 82); 
    text-decoration: none; 
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }
  
ion-card-content a:hover {
    color: rgb(255, 82, 82); 
  }
  