
ion-card img {
    max-width: 100%;
    height: auto;
}
  
ion-card-title {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
  
.contenido {
    padding: 20px;
    text-align: justify;
    padding:5%;
    background-color: rgb(255, 172, 172);
}

.text{
    color:black;
    text-align: justify;
    font-size: medium;
}
.titulo{
    font-weight: bold;
    color:black;
    text-align: justify;
}
  